.card-wrapper {
  background: #eef1f4;
  border-radius: 5px;
  // padding: 0px 20px;
  position: relative;
  height: calc(100vh - 50px);
  overflow-y: hidden;
  // 非订购样式调整
  &.no-order,
  &.task-node {
    padding: 0;
    height: auto;
    overflow-y: hidden;
    .fix-height {
      height: auto;
      overflow: inherit;
    }
  }
  &.task-node {
    .fixed_box {
      display: none;
    }
    .fix-height {
      padding-bottom: 0;
    }
  }
  .fix-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    z-index: 99;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    i {
      padding: 0 14px;
      font-size: 20px;
      color: #1e54de;
      cursor: pointer;
    }
    p {
      font-weight: 700;
    }
  }
  .fix-height {
    box-sizing: border-box;
    height: calc(100vh - 120px);
    overflow: scroll;
    margin: 20px 0;
    padding: 24px 0 20px;
  }
  .fixed_box {
    height: 72px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #dcdfe6;
    width: 100%;
    padding: 20px 20px 20px 10px;
    box-sizing: border-box;
    background-color: #fefefe;
    z-index: 10;
  }
  &.no-order .fixed_box {
    position: relative;
  }
  &.no-order .fix-height {
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .card-title {
    color: #000;
  }
}

.item-block {
  position: relative !important;
  width: 1400px;
  margin: 14px auto 0;
  padding: 0px 40px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.no-order .item-block {
  width: 100% !important;
  margin: 0;
  padding: 0;
  h5 {
    margin: 1.67em 0 !important;
    font-weight: bold !important;
  }
}

::v-deep .el-divider {
  margin: 12px 0;
}

::v-deep .el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: $--color-primary;
  background-color: #d5e8fc;
  border-color: $--color-primary;
}

::v-deep .el-radio-button__inner {
  min-width: 80px;
}

.input-desc-text {
  margin-left: 5px;
  font-size: 12px;
  color: #a7a7a0;
}

.w-xxl {
  width: 360px !important;
}

.w-xxs {
  width: 60px !important;
}

.m-b-lg {
  margin-bottom: 30px !important;
}

.total-money {
  font-weight: 400;
  font-size: 26px;
  color: #ff6600;
}

.preview-card {
  position: fixed;
  top: 120px;
  z-index: 1;
  width: 300px !important;
  right: 50px;
  padding: 15px;
  background: #f4f7fa;
  max-height: calc(100vh - 160px);
  box-sizing: border-box;
  overflow: auto;
  .title {
    font-size: 16px;
  }
  .divider {
    margin: 10px 0;
  }
  ::v-deep {
    // .el-form-item {
    //     margin-bottom: 10px !important;
    // }
    .el-form-item__label,
    .el-form-item__content {
      font-size: 12px;
      line-height: 20px;
    }
  }
}

.basic-cmp {
  width: 280px;
}
