.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
    .chart-no-data {
        width: 100%;
        color: #fff;
        position: absolute;
        top: 0;
    }
    .chart {
        width: 100%;
        height: 100%;
        &.hide {
            visibility: hidden;
        }
    }
}