.sidebar-menu {
  border: 0;
  background: inherit;
  ::v-deep {
    .el-menu {
      background: inherit;
    }
    .el-menu-item,
    .el-menu-item i,
    .el-sub-menu__title,
    .el-sub-menu__title i {
      color: inherit;
    }
  }
}
