.buy-btn {
  position: fixed;
  top: 58px;
  right: 20px;
}

.tip {
  font-size: 12px;
  color: #999;
}

.el-message-box__message {
  word-break: break-all;
}

.viewer-container.viewer-backdrop {
  z-index: 99999999999999 !important;
}

.w {
  width: 200px !important;
}

.el-radio-button__orig-radio:checked + .el-radio-button__inner {
  color: #409eff;
  background-color: #d5e8fc;
  border-color: #409eff;
}

.el-radio-button__inner {
  min-width: 80px;
}

.el-drawer.rtl {
  overflow: auto;
}

.tab-label-padding {
  padding: 0 10px;
}

.full-height {
  height: 100%;
}
