.sidebar-menu {
    border: 0;
    background: inherit;
     ::v-deep {
        .el-menu {
            background: inherit;
        }
        .el-menu-item,
        .el-menu-item i,
        .el-submenu__title,
        .el-submenu__title i {
            color: inherit;
        }
    }
}