@charset "UTF-8";
.common-detail {
  position: absolute;
  z-index: 2;
  width: 100%;
  right: 0;
  top: 0;
  border: 1px solid #e6e6e6;
  color: #333;
}

.common-detail .svg-icon {
  width: 47px;
  height: 47px;
  margin-left: 10px;
}

.common-detail .content_header {
  font-size: 12px;
  margin-left: 10px;
  width: calc(100% - 100px);
}

.common-detail .vm-status-success {
  margin-left: 10px;
  color: #71b7ff;
}

.common-detail .vm-status-error {
  margin-left: 10px;
  color: #ca1111;
}

.common-detail .detail-header {
  width: calc(100% - 40px);
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
  border-bottom: 1px solid #e6e6e6;
}

.common-detail .detail-header .title {
  display: inline-block;
}

.common-detail .detail-header .line {
  position: relative;
  top: 4px;
  margin: 0 10px;
  height: 20px;
  width: 1px;
  display: inline-block;
  background-color: #b5b5b5;
}

.common-detail .detail-header .detail-back {
  color: #46abf1;
  cursor: pointer;
}

.common-detail .detail-body {
  height: 600px;
  overflow: auto;
  background: #fff !important;
}

.common-detail .detail-body .el-card__header {
  border-bottom: 0px;
}

.common-detail .detail-body .detail-body-header {
  margin: 20px 10px 0px 10px;
}

.common-detail .detail-body .detail-body-header .imgBox {
  margin: 0;
  padding-top: 20px;
  width: 80px;
  float: left;
  text-align: center;
}

.common-detail .detail-body .detail-body-header .detailBox {
  width: calc(100% - 81px);
  border-left: 1px solid #e6e8ee;
  float: left;
}

.common-detail .detail-body .detail-body-header .borders_top {
  border-bottom: 1px solid #e6e8ee;
  margin: 0;
  padding-left: 10px;
}

.common-detail .detail-body .detail-body-header .borders_top .valueBox {
  float: left;
  padding: 10px 0 10px 0;
  overflow: hidden;
  /*超出部分隐藏*/
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
}

.common-detail .detail-body .detail-body-header .borders_top .lines1 {
  border-right: 1px solid #e6e8ee;
}

.common-detail .detail-body .detail-body-header .borders_btm {
  padding-left: 10px;
  padding: 10px;
}

.common-detail .detail-body .detail-body-body .el-table--small td,
.common-detail .detail-body .detail-body-body .el-table--small th {
  padding: 5px;
}

.common-detail .detail-body .detail-body-body .add-btn {
  position: relative;
}

.common-detail .detail-body .detail-body-body .textBox {
  font-size: 12px !important;
  width: 50%;
  float: left;
}

.common-detail .detail-body .detail-body-body .textBox .label_txt {
  display: inline-block;
  text-align: left;
  width: 100px;
  padding: 10px 20px;
}

.common-detail .detail-body .detail-body-body .textBox .label_val {
  display: inline-block;
  width: calc(100% - 150px);
  overflow: hidden;
  /*超出部分隐藏*/
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
}

.common-detail .detail-body .detail-body-body .textBox .label_input {
  display: inline-block;
  width: calc(100% - 190px);
}

.common-detail .detail-body .detail-body-body .textBox .cursor {
  cursor: pointer;
}

.common-detail .detail-body .detail-body-body .textBox .hidden-txt {
  display: inline-block;
  width: calc(100% - 50px);
  overflow: hidden;
  /*超出部分隐藏*/
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
}

.common-detail .detail-body .detail-body-body .textBox .pull-right {
  width: 30px;
}

.common-detail .detail-body::-webkit-scrollbar {
  width: 4px;
}

.common-detail .detail-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

.common-detail .detail-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
